/* Styles for larger screens */
@media (min-width: 768px) {
   .hamburger {
        display: none;
    }

    #logo {
        margin-left: 4rem;
        margin-right: 0;
    }

    nav{
        display: block !important;
    }

    header h2 {
        flex-grow: 1;
        text-align: left;
        margin-left: 0.5rem;
    }

    header h2 span{
        font-size: 14px;
    }

    nav {
        padding: 0;
        background-color: var(--secondary-color);
        padding: 1rem 0;
        width: 90%;
        margin: 0 auto;
    }
    
    nav ul {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        margin-left: 1rem;
        font-size: 24px;
        font-weight: 900;
    }

    #home-hero{
        height: 15rem;
        margin-left: 0%;
    }

    main {
        padding: 2rem;
    }

    .directory {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        height: fit-content;
    }

    .directory div img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
    }
    
    main {
        height: fit-content;
    }

    footer {
        padding: 2rem;
    }

    .main-content{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
    }

    .hero .a-button {
        width: 30%;
    }
}