@media (max-width: 768px) {
    body {
        padding: 1rem;
    }
    
    header {
        flex-direction: column;
        gap: 1rem;
    }
    
    .jobs-grid {
        grid-template-columns: 1fr;
    }
    
    .search-container {
        flex-direction: column;
        align-items: stretch;
    }

    .modal-content {
        margin: 20% auto;
        padding: 1.5rem;
    }
    
    .modal h2 {
        font-size: 1.5rem;
    }
    
    .modal input,
    .modal select {
        padding: 0.7rem;
    }

    .responsive-nav .menu-toggle {
        display: block; /* Shown for smaller screens */
    }
    
    .responsive-nav .nav-links {
        display: none; /* Hidden by default for smaller screens */
        flex-direction: column;
        position: absolute;
        top: 35%;
        left: 5% ;
        background-color: #333;
        border: 1px solid #555;
        padding: 10px;
        width: 85%;
        z-index: 4;
    }

    .responsive-nav .nav-links.open {
        display: flex;
    }

    .contact-item {
        width: 95%;
    }

    .contact-icon{
        padding-left: 20px;
    }

    .about-text p{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
    }

    .modal{
        text-align: center;
    }

    .about-image{
        padding: 0%;
        margin-bottom: 0% !important;
        width: 95%
    }

    .contact-details{
        margin-top: 40px;;
    }

    .map-container{
        margin-top: 40px;
    }

    #contact-hero{
        margin-bottom: 0% !important;
    }

}
